

main{
	width: 100%;
}

header{
	width: 100%;
}
header .header_top-menu{
	width: 100%;
	background-color: #212121;
	position: relative;
	z-index: 10;
}
header .header_top-menu nav{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 10px 70px;
}
header .header_top-menu nav a{
	display: inline-block;
	color: #ffffff;
	transition: .5s;
	position: relative;
	padding: 10px 25px;
	border-right: 2px dotted #000000;
	font-weight: 300;
}
header .header_top-menu nav a:last-child{
	border-right: none;
}
header .header_top-menu nav a:hover{
	text-decoration: none;
	background-color: #ffffff;
	color: #212121;
	border-radius: 3px;
}

header .header_logo{
	background-color: rgba(0,0,0,0.6);
	position: relative;
	z-index: 10;
}
header .header_logo .padd{
	padding: 5px 95px 10px 95px;
}
header .header_logo .padd .col{
	padding-top: 5px;
	padding-bottom: 5px;
}
header .header_logo .padd .col:first-child{
	padding-top: 18px;
}
header .header_logo .tel{
	text-align: right;
	margin-right: 30px;
}
header .header_logo .tel span:first-child{
	color: #ffffff;
	font-weight: 300;
}
header .header_logo .tel span:last-child{
	color: #ffffff;
	font-size: 24px;
	letter-spacing: 2px;
}
header .header_logo .wrap_tel button{
	background-image: linear-gradient(#45daf7,#25b4cf);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 300;
}

.header_main-title{
	min-height: 100vh;
	background-image: url(../img/header_img/Layer-3.jpg);
	background-size: cover;
	background-position: 50% 50%;
	margin-top: -164px;
	position: relative;
	z-index: 5;
	padding-top: 230px;
	padding-bottom: 100px;
}
.header_main-title h1{
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 30px;
	line-height: 44px;

}
.header_main-title h1 span{
	font-size: 30px;
	font-weight: 400;
}
.header_main-title p{
	color: #ffffff;
}
.header_main-title p:last-of-type{
	margin-bottom: 50px;
}
.header_main-title button{
	width: 260px;
	height: 60px;
	font-size: 18px;
	background-image: linear-gradient(#45daf7,#25b4cf);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 300;
}


section#Services{
	padding: 70px 0 100px 0;
}
section#Services span{
	background-color: #000000;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 200;
	padding: 6px 10px;
	margin-bottom: 40px;
	display: inline-block;
}
section#Services h2{
	font-size: 38px;
	color: #222222;
	margin-bottom: 45px;
	text-transform: uppercase;
	font-weight: 400;
}
.block_Services{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.block_Services .block_Services-img{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #1eacc7;
	text-align: center;
	line-height: 110px;
	margin-right: 20px;
}
.block_Services .block_Services-text{
	width: 80%;
}
.block_Services .block_Services-text h4{
	color: #1eacc7;
	font-size: 17px;
}