@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Настройки элементов*/
span.label {
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 200;
  padding: 6px 10px;
  margin-bottom: 40px;
  display: inline-block;
}

h2.title_h2 {
  font-size: 2.375rem;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
}

.subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}

main {
  width: 100%;
}

header {
  width: 100%;
}

.header_top-menu {
  width: 100%;
  background-color: #212121;
  position: relative;
  z-index: 10;
}
.header_top-menu nav {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}
.header_top-menu nav a {
  display: inline-block;
  color: #ffffff;
  transition: 0.5s;
  position: relative;
  padding: 10px 25px;
  border-right: 2px dotted #000000;
  font-weight: 300;
  font-size: 0.9rem;
}
.header_top-menu nav a:last-child {
  border-right: none;
}
.header_top-menu nav a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #212121;
  border-radius: 3px;
}

.header_logo {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}
.header_logo .padd {
  padding: 5px 95px 10px 95px;
}
.header_logo .padd .col {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header_logo .padd .col:first-child {
  padding-top: 18px;
}
.header_logo .tel {
  text-align: right;
  margin-right: 30px;
}
.header_logo .tel span:first-child {
  color: #ffffff;
  font-weight: 300;
}
.header_logo .tel span:last-child {
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 2px;
}
.header_logo .wrap_tel button {
  background-image: linear-gradient(#45daf7, #25b4cf);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
}
.header_logo .wrap_tel button:hover {
  background-image: linear-gradient(#25b4cf, #45daf7);
}

/* Кнопка для меню */
.burg {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 11px;
  cursor: pointer;
  display: none;
  z-index: 100;
  overflow: hidden;
}
.burg span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: all 0.3s;
}
.burg span.sp2, .burg span.sp3 {
  top: 50%;
  transform: translateY(-50%);
}
.burg span.sp4 {
  bottom: 0;
}

.burg_activ span.sp1 {
  transform: translateX(-100%);
  opacity: 0;
}

.burg_activ span.sp4 {
  transform: translateX(100%);
  opacity: 0;
}

.burg_activ span.sp2 {
  transform: rotate(45deg);
}

.burg_activ span.sp3 {
  transform: rotate(-45deg);
}

/* / --Кнопка для меню */
.header_main-title {
  min-height: 100vh;
  background-image: url(../img/header_img/Layer-3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -220px;
  position: relative;
  z-index: 5;
  padding-top: 286px;
  padding-bottom: 100px;
}
.header_main-title h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 44px;
}
.header_main-title h1 span {
  font-size: 1.875rem;
  font-weight: 400;
}
.header_main-title p {
  color: #ffffff;
}
.header_main-title p:last-of-type {
  margin-bottom: 50px;
}
.header_main-title button {
  width: 260px;
  height: 60px;
  font-size: 18px;
  background-image: linear-gradient(#45daf7, #25b4cf);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
}
.header_main-title button:hover {
  background-image: linear-gradient(#25b4cf, #45daf7);
}

section#Services {
  width: 100%;
  padding: 70px 0 100px 0;
}

.block_Services {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.block_Services .block_Services-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #1eacc7;
  text-align: center;
  line-height: 110px;
  margin-right: 20px;
}
.block_Services .block_Services-img img {
  transition: 0.3s;
}
.block_Services .block_Services-text {
  width: 69%;
}
.block_Services .block_Services-text h4 {
  color: #1eacc7;
  font-size: 17px;
}
.block_Services:hover .block_Services-img img {
  transform: scale(1.1);
}

section#Mobile_app {
  width: 100%;
  padding: 70px 0 100px 0;
}

.mobile_item {
  width: 320px;
  max-width: 95%;
  height: 280px;
  margin: 10px auto;
  position: relative;
}
.mobile_item .mobile_item_title {
  text-align: center;
}

.mobile_item_title {
  padding-top: 80px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.mobile_item_1 {
  background-image: url(../img/mobile/Rectangle-1.jpg);
}

.mobile_item_2 {
  background-image: url(../img/mobile/Rectangle-2.jpg);
}

.mobile_item_3 {
  background-image: url(../img/mobile/Rectangle-3.jpg);
}

.mobile_item_4 {
  background-image: url(../img/mobile/Rectangle-4.jpg);
}

.mobile_item_5 {
  background-image: url(../img/mobile/Rectangle-5.jpg);
}

.mobile_item_6 {
  background-image: url(../img/mobile/Rectangle-6.jpg);
}

.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
  text-align: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.mobile_item_plus:after {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #44d9f5;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #44d9f5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

section#the_choice {
  width: 100%;
  min-height: 870px;
  background-image: url(../img/Rectangle-20-copy-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 55px 0 100px 0;
  position: relative;
}
section#the_choice .label_white, section#the_choice .title_h2_white, section#the_choice .subtitle_white {
  position: relative;
  z-index: 10;
}
section#the_choice .label_white {
  background-color: #ffffff;
  color: #070716;
  text-transform: uppercase;
  font-weight: 200;
  padding: 6px 20px;
  margin-bottom: 40px;
  display: inline-block;
}
section#the_choice .title_h2_white {
  font-size: 2.375rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
section#the_choice .subtitle_white {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
section#the_choice img {
  display: block;
  margin: 55px auto 0 auto;
  position: relative;
  z-index: 10;
}
section#the_choice .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: #070716;
  z-index: 1;
}
section#the_choice .the_choice_discr {
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 700;
}

section#Conditions {
  width: 100%;
  padding: 70px 0 100px 0;
}
section#Conditions h2 {
  margin-bottom: 30px;
}

.conditions .block_list {
  width: 100%;
  margin-bottom: 66px;
}
.conditions .block_list_title h4 {
  color: #1ca8c3;
  font-size: 22px;
  margin-bottom: 22px;
}
.conditions .block_list_title h4 span {
  text-transform: uppercase;
}
.conditions .block_list_title h4.block_list_red {
  color: #ff5656;
}
.conditions .block_list_discr {
  color: #1ca8c3;
  font-size: 17px;
}
.conditions .block_list_items {
  list-style: none;
}
.conditions .block_list_items li {
  margin-bottom: 15px;
  color: #222222;
  font-size: 17px;
  position: relative;
}
.conditions .block_list_items li:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../img/check_icon.png);
  background-size: contain;
  position: absolute;
  left: -30px;
  top: 6px;
}
.conditions .block_list ul.list_item_red li:before {
  background-image: url(../img/check_icon_red.png);
  background-size: contain;
}
.conditions .block_list_none {
  margin-bottom: 0px;
}

section#Maps {
  width: 100%;
  min-height: 710px;
  background-image: url(../img/footer_img/Layer-33.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  position: relative;
}
section#Maps .label_white {
  background-color: #ffffff;
  color: #070716;
  text-transform: uppercase;
  font-weight: 200;
  padding: 6px 20px;
  margin-bottom: 40px;
  display: inline-block;
}
section#Maps .title_h2_white {
  font-size: 2.375rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
section#Maps .subtitle_white {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
section#Maps a.maps_bottom_link {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: #1fbad6;
  text-transform: uppercase;
}

footer {
  width: 100%;
  min-height: 145px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;
}
footer .block_social {
  display: flex;
  padding-top: 50px;
}
footer .block_social_itam {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #070716;
  margin-right: 19px;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
  transition: 0.3s;
  display: inline;
}
footer .block_social_itam .fa {
  color: #ffffff;
}
footer .block_social_itam:hover {
  background-color: #1fbad6;
}
footer .block_social_itam:hover .fa {
  color: #222222;
}
footer .goog_icon {
  text-align: right;
  padding-top: 50px;
}
footer .footer_block_links {
  padding-top: 30px;
}
footer .footer_block_links .block_big_links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}
footer .footer_block_links .block_big_links a {
  color: #070716;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
}
footer .footer_block_links .block_small_links {
  display: flex;
  justify-content: space-around;
}
footer .footer_block_links .block_small_links a {
  color: #999999;
  font-size: 11px;
  text-transform: uppercase;
}
footer .footer_block_links .link_lang {
  text-align: center;
  margin-top: 5px;
}
footer .footer_block_links .link_lang a {
  font-size: 11px;
  color: #1fbad6;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}
footer .footer_block_links:before {
  content: "";
  display: block;
  width: 0px;
  height: 4px;
  background-color: #1fbad6;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}
footer .footer_block_links:hover:before {
  width: 375px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  transform: scale(0);
  transition: 0.3s;
}

.overlay_activ {
  transform: scale(1);
}